html{
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}
header{
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background-color: black;
}
.logo{
  width: 960px;
  display: flex;
  align-items: center;
}
.logo img{
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 1rem;
  height: 1.5rem;
}
.logo span{
  display: inline-block;
  padding-bottom: 0.66rem;
  padding-top: 0.66rem;
}
.main-banner{
  display: flex;
  flex-direction: column;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-position: center;
  height: 25rem;
  width: 100%;
  align-items: center;
}
.container{
  width: 960px;
  margin: 0 auto;
}
.new-arrival{
  background-color: black;
  width: 20rem;
  font-weight:bold;
  text-transform: uppercase;
  margin-top: 9rem;
}
.new-arrival .text-content{
  padding: 2rem 0 2rem 3rem;
}
.new-arrival span{
  display: block;
}
.new-arrival h1{
  font-size: 2rem;
  padding-top: .25rem;
}
nav{
  display:flex;
  background-color: firebrick;
  justify-content: center;
}
.nav-text{
  display: flex;
}
.nav-item{
  display:inline-block;
  padding: 0.75rem 0;
  margin: 0 auto;
}
.nav-item-menu{
  display:none;
}
.product-grid{
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.product{
  width: 30%;
}
.image-content{
  display: flex;
  border: 4px solid black;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  height: 9rem;
  padding: 2rem 0;
}
.product img{
  max-width: 8rem;
}
.product span{
  display:block;
  background-color: black;
  padding: 0.5rem 0;
  text-align: center;
}
.company-details{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.info{
  width: 35%;
}
.location{
  float:left;
}
.hours{
  float:right;
}
.title{
  background-color: black;
  width: 100%;
  padding: 1rem 0;
}
.title span{
  padding-left: 2rem;

}
.details{
  display:block;
  color:black;
}
footer{
  display:flex;
  align-items: center;
  height: 5rem;
  background-color:black;
  text-align: left;
}
@media only screen and (max-width: 1024px){
  html{
    font-size: 16px;
  }
  .container{
    width: 100%;
  }
  .product{
    width:47%;
  }
  .glasses{
    display:none;
  }
  .nav-item{
    display:none;
  }
  .nav-item-menu{
    display:inline-block;
    padding: 0.75rem 0;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 470px){
  .main-banner{
    height: 15rem;
  }
  .new-arrival{
    width: 100%;
    margin-top: 10rem;
  }
  .new-arrival .text-content{
    padding: 1rem 0 1rem 2rem;
  }
  .new-arrival span{
    font-size: 0.77rem;
  }
  .new-arrival h1{
    font-size: 1rem;
  }
  .watch{
    display: none;
  }
  .product-grid{
    justify-content: center;
  }
  .product{
    width: 90%;
  }
  .info{
    display:block;
    width: 90%;
    padding-bottom: 0.5rem;
    margin: 0 auto;
  }
  .location{
    float: none;
  }
  .hours{
    float: none;
  }
  footer{
    text-align: center;
  }
}
